/* src/components/DetalhesImovel.css */

.galeria-imovel.galeria-desktop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0px; /* Ajusta o espaçamento entre as fotos */
}

.galeria-imovel .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

@media (max-width: 768px) {
    .galeria-imovel {
        display: flex;
        flex-wrap: nowrap;
        gap: 0px;
        overflow-x: auto;
        margin-left: 1px;
    }

    .galeria-imovel .col-md-4 {
        flex: 0 0 auto;
        width: 48%;
    }

    .galeria-imovel .col-md-4 img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

/* src/components/DetalhesImovel.css */

/* ...código anterior... */

.folheto-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.folheto-card:hover {
    background-color: #007bff;
    color: white;
}

.folheto-card:hover .folheto-icon {
    color: white;
}

.folheto-icon {
    font-size: 1.5em;
    color: #007bff;
    transition: all 0.3s ease;
}