/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #ffffff;
  --text-dark-color: #333333;
  --text-light-color: #f1f1f1;
}

html, body, #root, .App {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boneca-wrapper {
  position: relative;
  height: 20px;
}

.boneca-ground {
  display: block;
  margin-left: auto;
  margin-right: 0px;  /* encosta perto do chat */
  width: 240px;
  height: auto;
  transform: translateY(-221px); /* sobe um pouco para parecer colada */
}

@media (max-width: 768px) {
  .boneca-ground {
  width: 150px;
  margin-right: -20px;
  height: auto;
  transform: translateY(-138.5px); /* sobe um pouco para parecer colada */
  }
}
